Language: Cpp

BasedOnStyle: Google

IndentWidth: 4

# 使用空格而不是 Tab
UseTab: Never

# 访问修饰符（public）等靠左对齐
AccessModifierOffset: -4
AlignTrailingComments: true

# 大括号的换行规则
BreakBeforeBraces: Attach

# 模板定义的换行规则
BreakTemplateDeclarations: Yes

# 最大列宽度
ColumnLimit: 100

# 是否允许短的函数，语句块等单独一行
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None

BreakBeforeBinaryOperators: NonAssignment
PenaltyBreakAssignment: 2
PenaltyBreakString: 2
AlignConsecutiveAssignments: Consecutive
