name: C/C++ CI

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    env:
      CC: gcc-14
      CXX: g++-14
      SRC_DIR: ${{ github.workspace }}/src
      TEST_DIR: ${{ github.workspace }}/tests
      TEST_ASSETS_ROOT: /tmp/pingpong_tracker

    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: bash scripts/install_dependencies.sh

    - name: Download tests assets
      shell: bash
      run: |
        cd "${TEST_DIR}"
        ./download_assets.sh


    - name: Configure CMake
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --parallel

    - name: Run Tests
      working-directory: build
      run: ctest --output-on-failure --no-tests=error