name: C/C++ CI

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    env:
      CC: gcc-14
      CXX: g++-14
      SRC_DIR: ${{ github.workspace }}/src
      TEST_DIR: ${{ github.workspace }}/src/tests
      TEST_ASSETS_ROOT: /tmp/pingpong_tracker

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake build-essential gcc-14 g++-14 yq wget gnupg

        wget -qO - https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB | sudo gpg --dearmor --output /usr/share/keyrings/intel-openvino-archive-keyring.gpg
        echo "deb [signed-by=/usr/share/keyrings/intel-openvino-archive-keyring.gpg] https://apt.repos.intel.com/openvino ubuntu24 main" | sudo tee /etc/apt/sources.list.d/intel-openvino.list
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends openvino-2025.2.0

    - name: Download tests assets
      shell: bash
      run: |
        cd "${TEST_DIR}"
        ./download_assets.sh


    - name: Configure CMake
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --parallel

    - name: Run Tests
      working-directory: build
      run: ctest --output-on-failure --no-tests=error